@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                To learn more about this application click on "Products"/"Categories" from the menu
            </p>
        </div>
    </section>
}

